@font-face {
  font-family: Fellix-Regular;
  src: url(assets/Fellix-Regular.ttf);
}
@font-face {
  font-family: Fellix-Medium;
  src: url(assets/Fellix-Medium.ttf);
}

@font-face {
  font-family: Fellix-Bold;
  src: url(assets/Fellix-Bold.ttf);
}
@font-face {
  font-family: DomaineText-RegularItalic;
  src: url(assets/DomaineText-RegularItalic.otf);
}



html,body{
  margin:0;
  padding: 0;
    font-family: "Fellix-Regular";
    width: 100%;
    /* background-color: #FBF8F5; */
}

.bar{
  position: fixed;
  top: 0;
  left: 0;
  width:0;
  background-color: #00956e;
  height:4px;
  z-index: 7;
}

.header{
  z-index: 2;
    top:0;
    left:0;
  /* position: sticky !important; */
    /* position:-webkit-sticky !important; */
position: fixed;
width:95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 25px;
background-color: white;
/* background-color: #FBF8F5; */

font-size: 15px;
}

.logo-band{
  margin-bottom:25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: blue; */

}

.logo{
  /* background-color: pink; */
  background-repeat: no-repeat;
  width:145px;
  height:41px;
  background-image: url(assets/Noora_Logo_Color.png);
  background-size: contain;
}
.actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* width:430px; */
}
.request a{
    color:#383838;
    text-decoration: none;
}
.request{
  /* position: relative; */
font-size:16px;
/* font-size-adjust:  */
    font-family: "Fellix-Regular";
    width:95%;
      padding-left: 2.5%;
      padding-right: 2.5%;
      padding-top: 100px;
      padding-top: 50px;
line-height: 1.3;
  text-decoration: none;
  color:#383838;
/* text-align: center; */
  height: 100px;
display: flex;
align-items: center;
justify-content:center ;
  color:#383838;
}
.request-icon{
  color: #FBF8F5;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content:center;
  width: 18px;
  height: 18px;
  border-radius: 25px;
  background-image: url(assets/request.png);
  background-size: 9px 9px;
  background-position: center;
  background-color: #383838;
  background-repeat: no-repeat;
}
.request-icon:hover{
    background-color: #00956e;
}
.dialogue-box{
  display: none;
  line-height: 1.4;
  position: fixed;
  z-index: 4;
  background-color: #00956e;
  border-radius: 25px;
  max-width:300px;
  bottom:20px;
  /* left:25px; */
  right:90px;
  padding:25px;
  color: #FBF8F5;
}

.request b{
  font-weight: normal;
  color: #00956e;
  font-family: "DomaineText-RegularItalic";
}

.show{
    display: block;
}
.translation{
    font-family: "Fellix-Regular";
  color:#a9a9a9;
  width: 45px;
  height: 45px;
/* background-color: green; */
position:relative;
top:0;
right:0;
}

.english{
  color:#FBF8F5;
  background-color:#a9a9a9;
  top:18px;
  right:18px;
  position: absolute;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content:center;
  width: 25px;
  height: 25px;
  border:1px solid #a9a9a9;
  border-radius: 5px;
}

.hindi{
  font-family: 'Noto Sans Devanagari', sans-serif;
  top:0;
  right:0;
  position: absolute;
  cursor:pointer;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 25px;
    height: 25px;
    border:1px solid #a9a9a9;
    border-radius: 5px;

}

.filter-main{
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content:center;
}
.filter-main a{
  text-decoration: none;
}
.clicked{
  color: #FBF8F5;
  background-color: #DD3E77;
}


.term-button{
  /* color:#DD3E77;
  background-color: white; */
  font-family: Fellix-Medium;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content:center;
  width:300px;
  height:50px;
  border: 1px solid #DD3E77;
  border-radius: 100px;
  color: #FBF8F5;
  background-color: #DD3E77;
  /* background-color: #DD3E77; */
  /* color: #FBF8F5; */

}

.acronym-button{
  /* font-family: Fellix-Regular; */
  color:#DD3E77;
  background-color: white;
  cursor:pointer;
    border-radius: 100px;
  border: 1px solid #DD3E77;
  display: flex;
  align-items: center;
justify-content:center;
  width:300px;
  height:50px;
}
.clicked{
  color: #FBF8F5;
  background-color: #DD3E77;
}
/* .term-button:hover,
.acronym-bitton:hover{
  border: 1px solid #00956e;
    background-color:#00956e;
} */
.filter-acronyms,
.filter-terms{
/* font-family: "Fellix"; */
font-family: "Fellix-Regular";
  height:75px;
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content:center;
/* background-color: pink; */
}
.filter-acronyms a,
 .filter-terms a{
   color:#383838;
text-decoration: none;
  /* font-weight:  normal; */
}

.filter-acronyms .all-filter,
.filter-terms .all-filter{
  /* text-decoration: none; */
font-family: "Fellix-Bold";
}

.filter-result{
  font-size: 20px;
  position: relative;
  top:222px;
  left:0;
  z-index: 1;
  min-height: 100vh;
}
/* .background{
  position: relative;
  top:222px;
  left:0;
  z-index: 0;
} */
.terms{
  width: 100%;
position: absolute;
top:1;
left:0;

}

.terms-bg{
  z-index:0;
  width: 100%;
  height:100vh;
position: absolute;
top:0;
left:0;
background-image: url(assets/term-shape.png);
background-size: 500px 390px;
background-position: bottom right;
background-repeat: no-repeat;
}

.acronyms-bg{
  z-index:0;
  width: 100%;
  height:70vh;
  /* background-color: red; */
position: absolute;
top:0;
left:0;
background-image: url(assets/acronym-shape.png);
background-size:400px 400px;
background-position: bottom right;
background-repeat: no-repeat;
}

.acronyms{
    width: 100%;
  position: absolute;
  top:1;
  left:0;
}


.line{
  margin-left:2.5%;
  margin-right: 2.5%;
  width: 95%;
  border-bottom: 1px solid #383838;
}


ul.menu_main_menu li ul.submenu { display:none; }

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
ul a{
  text-decoration: none;
  color:#383838;
}

.row2,
.row{
cursor: pointer;

  margin-left:2.5%;
  margin-right: 2.5%;
  width: 95%;
  border-bottom: 1px solid #383838;
    /* background-color: purple; */
}
.row2:hover,
.row:hover{
  /* background-color: #FBF8F5; */
}


.title{
  padding-top:15px;
  padding-bottom: 15px;
  width: 98%;
  display: block;
  font-family:Fellix-Bold;
padding-left:15px;
  /* background-color: yellow; */
}

.definition{
  font-family: "Fellix-Regular";
  font-size: 18px;
  padding-left:75px;
  padding-bottom:15px;
  width:580px;
line-height: 1.5;
  /* background-color: green; */
}
.definition b{
  font-family: "Fellix-Bold";
  color: #37b7e6;
}
.green{
  background-color: green;
  padding-left:75px;
}

@media (max-width: 1200px) {


.width{
  width: 20px;
}
  .dialogue-box{
    padding:20px;
    right:18px;
    /* top:80px; */
    width:250px;
  }

.header{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  width:90%;
  font-size: 16px;
}
.logo-band{
  margin-bottom:35px;
  /* background-color: yellow; */

}
.request{
  font-size: 15px;
  width:90%;
    padding-left: 5%;
    padding-right: 5%;
}
.row2:hover,
.row:hover{
  background-color: #FBF8F5;
  }
.term-button,
  .acronym-button{
    height:45px;
    font-size:16px;
    width:360px;
  }
.filter-terms,
.filter-acronyms{
  font-size:16px;
  height: 80px;
}
.filter-result{
  top:260px;
  font-size:18px;
}
.logo{
  width: 55px;
  height:55px;
  background-image: url(assets/logomark.png);
}


.terms-bg{
  background-size: 0px;
  /* display: none; */
}
.acronyms-bg{
  /* display: none; */
  background-size: 0px;
}


.line{
  margin-left:5%;
  margin-right: 5%;
  width: 90%;
}

.row2,
.row{
cursor: pointer;
  margin-left:5%;
  margin-right: 5%;
  width: 90%;
  border-bottom: 1px solid #383838;
}

.title{

  padding-top:20px;
  padding-bottom: 20px;
  width: 91%;
  display: block;
  /* background-color: red; */
  font-family:Fellix-Bold;
padding-left:20px;
padding-right: 20px;
}

.definition{
  font-size: 17px;
  padding-left:20px;
  padding-bottom:20px;
  width:78vw;
line-height: 1.6;
  /* background-color: green; */
}



}

@media screen and (min-device-width: 1100px) and (max-device-width: 1200px) {
  /* .term-button,
    .acronym-button{
        height:75px;
    } */
    /* .definition{
      font-size: 32px;
      padding-left:30px;
      padding-bottom:27px;
      width:70vw;
    } */
  /* .logo{
    width: 125px;
    height:125px;
    background-image: url(assets/logomark.png);
  } */
/* .header{
  font-size:27px;
}

  .filter-result{
    top:420px;
    font-size:32px;
  }
  .title{
    padding-top:27px;
    padding-bottom: 27px;

  } */


}
