@font-face {
  font-family: Fellix-Regular;
  src: url(assets/Fellix-Regular.ttf);
}
@font-face {
  font-family: Fellix-Medium;
  src: url(assets/Fellix-Medium.ttf);
}

@font-face {
  font-family: Fellix-Bold;
  src: url(assets/Fellix-Bold.ttf);
}



html,body{
  margin:0;
  padding: 0;
    font-family: "Fellix";
    width: 100%;
    /* background-color: #FBF8F5; */
}

.header{
  z-index: 2;
    top:0;
    left:0;
  /* position: sticky !important; */
    /* position:-webkit-sticky !important; */
position: fixed;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 25px;
background-color: white;
/* background-color: #FBF8F5; */
width:95%;
font-size: 15px;
}

.logo-band{
  margin-bottom:25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: blue; */

}

.logo{
  /* background-color: pink; */
  background-repeat: no-repeat;
  width:145px;
  height:41px;
  background-image: url(assets/Noora_Logo_Color.png);
  background-size: contain;
}
.actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* width:430px; */
}
.request a{
    color:#383838;
}
.request{
  /* text-align: right; */
  text-decoration: underline;
  color:#383838;
  /* width: 350px; */
  height: 45px;
/* background-color: red; */
display: flex;
align-items: center;
justify-content:flex-end ;
  color:#383838;
}
.request-icon{
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content:center;
  width: 25px;
  height: 25px;
  border:1px solid #383838;
  border-radius: 5px;
  background-image: url(assets/request.png);
  background-size: cover;
  background-position: center;
  background-color: #383838;
}
.translation{
  color:#383838;
  width: 45px;
  height: 45px;
/* background-color: green; */
position:relative;
top:0;
right:0;
}

.english{
  color:#FBF8F5;
  background-color:#383838;
  top:18px;
  right:18px;
  position: absolute;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content:center;
  width: 25px;
  height: 25px;
  border:1px solid #383838;
  border-radius: 5px;
}

.hindi{
  top:0;
  right:0;
  position: absolute;
  cursor:pointer;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 25px;
    height: 25px;
    border:1px solid #383838;
    border-radius: 5px;

}

.filter-main{
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content:center;
}
.filter-main a{
  text-decoration: none;
}
.clicked{
  color: #FBF8F5;
  background-color: #DD3E77;
}


.term-button{
  /* color:#DD3E77;
  background-color: white; */
  font-family: Fellix-Medium;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content:center;
  width:300px;
  height:50px;
  border: 1px solid #DD3E77;
  border-radius: 100px;
  color: #FBF8F5;
  background-color: #DD3E77;
  /* background-color: #DD3E77; */
  /* color: #FBF8F5; */

}

.acronym-button{
  color:#DD3E77;
  background-color: white;
  cursor:pointer;
    border-radius: 100px;
  border: 1px solid #DD3E77;
  display: flex;
  align-items: center;
justify-content:center;
  width:300px;
  height:50px;
}
.clicked{
  color: #FBF8F5;
  background-color: #DD3E77;
}

.filter-acronyms,
.filter-terms{


  height:75px;
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content:center;
/* background-color: pink; */
}
.filter-acronyms a,
 .filter-terms a{
   color:#383838;
text-decoration: none;
  font-weight:  normal;
}

.filter-acronyms .all-filter,
.filter-terms .all-filter{
  /* text-decoration: none; */
  font-weight: bold;
}

.filter-result{
  font-size: 20px;
  position: relative;
  top:222px;
  left:0;
  z-index: 1;
}
/* .background{
  position: relative;
  top:222px;
  left:0;
  z-index: 0;
} */
.terms{
  width: 100%;
position: absolute;
top:1;
left:0;

}

.terms-bg{
  z-index:0;
  width: 100%;
  height:70vh;
position: absolute;
top:0;
left:0;
background-image: url(assets/term-shape.png);
background-size: 500px 390px;
background-position: bottom right;
background-repeat: no-repeat;
}

.acronyms-bg{
  z-index:0;
  width: 100%;
  height:70vh;
  /* background-color: red; */
position: absolute;
top:0;
left:0;
background-image: url(assets/acronym-shape.png);
background-size:400px 400px;
background-position: bottom right;
background-repeat: no-repeat;
}

.acronyms{
    width: 100%;
  position: absolute;
  top:1;
  left:0;
}


.line{
  margin-left:2.5%;
  margin-right: 2.5%;
  width: 95%;
  border-bottom: 1px solid #383838;
}


ul.menu_main_menu li ul.submenu { display:none; }

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
ul a{
  text-decoration: none;
  color:#383838;
}

.row2,
.row{
cursor: pointer;

  margin-left:2.5%;
  margin-right: 2.5%;
  width: 95%;
  border-bottom: 1px solid #383838;
    /* background-color: purple; */
}
.row2:hover,
.row:hover{
  /* background-color: #FBF8F5; */
}


.title{
  padding-top:15px;
  padding-bottom: 15px;
  width: 98%;
  display: block;
  font-family:Fellix-Bold;
padding-left:15px;
  /* background-color: yellow; */
}

.definition{
  font-size: 18px;
  padding-left:75px;
  padding-bottom:15px;
  width:580px;
line-height: 1.5;
  /* background-color: green; */
}

.green{
  background-color: green;
  padding-left:75px;
}

@media (max-width: 1200px) {

.header{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
  width:90%;
  font-size: 21px;
}
.logo-band{
  margin-bottom:40px;

}
.request{
  font-size: 18px;
}
.row2:hover,
.row:hover{
  background-color: rgba(250, 250, 250, 0);
  }
.term-button,
  .acronym-button{
    width:360px;
  }
.filter-terms,
.filter-acronyms{
  height: 80px;
}
.filter-result{
  top:325px;
  font-size:24px;
}
.logo{
  width: 85px;
  height:85px;
  background-image: url(assets/logomark.png);
}

/*
.terms-bg{
  background-size: 300px 230px;
}
.acronyms-bg{
  background-size: 270px 270px;
} */


.line{
  margin-left:5%;
  margin-right: 5%;
  width: 90%;
}

.row2,
.row{
cursor: pointer;
  margin-left:5%;
  margin-right: 5%;
  width: 90%;
  border-bottom: 1px solid #383838;
}

.title{

  padding-top:25px;
  padding-bottom: 25px;
  width: 98%;
  display: block;
  font-family:Fellix-Bold;
padding-left:20px;
}

.definition{
  font-size: 24px;
  padding-left:60px;
  padding-bottom:25px;
  width:80vw;
line-height: 1.5;
  /* background-color: green; */
}

}

@media screen and (min-device-width: 1100px) and (max-device-width: 1200px) {
  .term-button,
    .acronym-button{
        height:75px;
    }
  /* .logo{
    width: 125px;
    height:125px;
    background-image: url(assets/logomark.png);
  } */
/* .header{
  font-size:27px;
}
  .definition{
    font-size: 32px;
    padding-left:60px;
    padding-bottom:27px;
    width:80vw;
  }
  .filter-result{
    top:420px;
    font-size:32px;
  }
  .title{
    padding-top:27px;
    padding-bottom: 27px;

  } */


}
